.App{
  width: 80%;
   display: flex;
   justify-content: center;
   margin: 20px auto;
   
}
.App>div{
  width: 50%;
  height: 600px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gray;
  padding: 20px;

}